.main-section-image {
    display: flex;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 15px 15px rgb(172, 172, 172);
    position: relative;
}

.main-section2 {

    display: flex;
    position: absolute;
    margin-top: 300px;
    text-align: center;

}

.main-section-div {
    border: none;
    border-radius: 15px;
    background-color: white;
    height: 210px;
    width: 650px;

}

.main-section-div-text1 {
    padding-top: 40px;
    font-size: 28px;
    font-weight: 1000;
    text-shadow: 3px 2px 4px rgb(184, 182, 182);
}

.main-section-div-text2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(110, 110, 110);

}

.main-section3 {
    display: flex;
    position: absolute;
    padding-top: 265px;
}

.main-section3-button {
    display: flex;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.main-section3-button:hover {
    opacity: 0.8;
}

#nonr{
   color: rgb(0, 0, 0);
   font-size: 40px;
   align-items: center;
}