<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

   <entry key="selectListCount">
      SELECT COUNT(*) COUNT
      FROM BOARD
      WHERE BOARD_STATUS = 'Y'
   </entry>
   
   <entry key="selectList">
            SELECT *
         FROM(
            SELECT ROWNUM RNUM, A.*
                   FROM (
                       SELECT BOARD_NO
                               ,USER_NAME
                               ,BOARD_CATEGORY
                               ,BOARD_TITLE
                               ,BOARD_CONTENT
                               ,BOARD_COUNT
                               ,TO_CHAR(BOARD_ENROLL_DATE, 'YYYY/MM/DD') AS "BOARD_ENROLL_DATE"
                           FROM BOARD B
                           JOIN MEMBER ON (BOARD_USER = USER_NO)
                             WHERE BOARD_STATUS = 'Y'
                             ORDER BY BOARD_NO DESC
                 ) A
              )
              WHERE RNUM BETWEEN ? AND ?
   </entry>
   
   <entry key="increaseCount">
      UPDATE BOARD
          SET BOARD_COUNT = BOARD_COUNT + 1
        WHERE BOARD_NO = ?
          AND BOARD_STATUS = 'Y'
   </entry>
   
   <entry key="selectBoard">
       SELECT BOARD_NO
             , USER_NAME
           , BOARD_CATEGORY
           , BOARD_TITLE
           , BOARD_CONTENT
           , BOARD_COUNT
           , TO_CHAR(BOARD_ENROLL_DATE, 'YYYY/MM/DD') "BOARD_ENROLL_DATE"
        FROM BOARD
           JOIN MEMBER ON (BOARD_USER = USER_NO)
       WHERE BOARD_NO = ?
   </entry>
   
   <entry key="insertBoard">
    INSERT 
		INTO BOARD (
					BOARD_NO
				   ,BOARD_USER
				   ,BOARD_TITLE
				   ,BOARD_CONTENT
				   
					)
			VALUES(
				   SEQ_BNO.NEXTVAL
				   ,?
				   ,?
				   ,?
				  )
   </entry>
   
   <entry key="updateBoard">
   		UPDATE BOARD
		   SET BOARD_TITLE = ?
		     , BOARD_CONTENT = ?
		 WHERE BOARD_NO = ?
   </entry>
   
   <entry key="deleteBoard">
   		UPDATE BOARD
		    SET BOARD_STATUS = 'N'
		   WHERE BOARD_NO = ?
   </entry>
   
   <entry key="selectBoardCommentList">
   		SELECT COMMENT_NO
		     , BOARD_NO
		     , COMMENT_USER
		     , COMMENT_CONTENT
		     , COMMENT_NEWDATE
		   FROM BOARD_COMMENT
		  WHERE BOARD_NO = ?
   </entry>
</properties>