<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectSearchCount">
		SELECT COUNT(*) COUNT
		FROM PLACE
		PLACE_TITLE PLACE_ADDRESS
		
		WHERE PLACE_STATUS = 'Y'
	</entry>

	<entry key="selectSearchList">
		SELECT PLACE_NO
		     , PLACE_TITLE
		     , PLACE_ADDRESS
		     , PLACE_IMAGE_PATH
	    FROM PLACE P
	  	JOIN PLACE_IMAGE USING (PLACE_NO)
			WHERE P.PLACE_STATUS = 'Y'
	</entry>



   <entry key="selectListCount">
      SELECT COUNT(*) COUNT
      FROM PLACE_LIKE
      JOIN PLACE USING(PLACE_NO)
      WHERE USER_NO = ? AND PLACE_STATUS = 'Y'
   </entry>
   
   
   <entry key="placeLikeSelectList">
      SELECT *        
      FROM(SELECT ROWNUM RNUM, A.* 
          FROM (SELECT PLACE_NO, 
                   PLACE_TITLE, 
                   PLACE_CONTENT_POINT, 
                   PLACE_CONTENT_DETAIL, 
                   PLACE_IMAGE_PATH
                  FROM PLACE_LIKE
                  JOIN PLACE USING(PLACE_NO)
                  LEFT JOIN PLACE_IMAGE USING(PLACE_NO)
                  WHERE USER_NO = ? AND PLACE_STATUS = 'Y'
                  ORDER BY LIKE_NO DESC 
              ) A
          )
      WHERE RNUM BETWEEN ? AND ?
   </entry>
   
   <entry key="placeLikeDeleteController">
        DELETE FROM PLACE_LIKE 
        WHERE USER_NO = ? AND PLACE_NO = ?
   </entry>
   
   <entry key="selectPlaceImage">
      SELECT PLACE_IMAGE_NO
           , PLACE_IMAGE_CHANGE
           , PLACE_IMAGE_PATH
       FROM PLACE_IMAGE
       WHERE PLACE_NO = ?
   </entry>
   

   
   <entry key="increaseCount">
		UPDATE PLACE
		   SET PLACE_COUNT = PLACE_COUNT + 1
		 WHERE PLACE_NO = ?
		   AND PLACE_STATUS = 'Y'
   </entry>
   
    <entry key="selectPlace">
    	SELECT PLACE_NO
		        ,PLACE_TITLE
		        ,PLACE_CONTENT_POINT
		        ,PLACE_CONTENT_DETAIL
		        ,PLACE_THEMA
		        ,PLACE_ADDRESS
		        ,PLACE_HOMEPAGE
		        ,PLACE_CONTACT
		        ,PLACE_TIME
		        ,PLACE_START
		        ,PLACE_END
		FROM PLACE
		WHERE PLACE_NO = ?
		    AND PLACE_STATUS = 'Y'

   </entry>
   
   <entry key="selectPlaceImageList">
    	SELECT PLACE_NO
		        ,PLACE_TITLE
		        ,PLACE_CONTENT_POINT
		        ,PLACE_CONTENT_DETAIL
		        ,PLACE_THEMA
		        ,PLACE_ADDRESS
		        ,PLACE_HOMEPAGE
		        ,PLACE_CONTACT
		        ,PLACE_TIME
		        ,PLACE_START
		        ,PLACE_END
		FROM PLACE
		WHERE PLACE_NO = ?
		    AND PLACE_STATUS = 'Y'

   </entry>
   
    <entry key="selectPlaceImage">
		SELECT PLACE_IMAGE_NO
		        ,PLACE_IMAGE_CHANGE
		        ,PLACE_IMAGE_PATH
		FROM PLACE_IMAGE
		WHERE PLACE_NO = ?
   </entry>
   
   <entry key="selectReviewList">
		SELECT REVIEW_NO
		        ,USER_NAME
		        ,REVIEW_STAR
		        ,REVIEW_CONTENT
		        ,REVIEW_CREATE_DATE
		FROM REVIEW
		JOIN MEMBER USING (USER_NO)
		WHERE PLACE_NO = ?
		ORDER BY REVIEW_CREATE_DATE DESC
   </entry>
   
    <entry key="reviewListCount">
      SELECT COUNT(*) COUNT
      FROM REVIEW
      JOIN PLACE USING(PLACE_NO)
      WHERE PLACE_NO = ?
   </entry>
   
    <entry key="checkLike">
      SELECT LIKE_NO
      FROM PLACE_LIKE
      WHERE PLACE_NO = ?
      		AND USER_NO =?
   </entry>
   
   

</properties>