<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


   <entry key="selectSearchCount">
      SELECT COUNT(*) COUNT
      FROM PLACE
      WHERE PLACE_TITLE LIKE ?
         AND PLACE_STATUS = 'Y'
   </entry>

   <entry key="selectSearchList">
      SELECT *        
      FROM(SELECT ROWNUM RNUM, A.* 
          FROM (SELECT PLACE_NO
                   , PLACE_TITLE
                   , PLACE_ADDRESS
                   , PLACE_IMAGE_PATH
                   , PLACE_IMAGE_CHANGE
               FROM PLACE P
               LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
               WHERE PLACE_STATUS = 'Y'
               AND PLACE_IMAGE_LEVEL = 1
               AND PLACE_TITLE LIKE ?
               ORDER BY PLACE_NO DESC
              ) A
          )
      WHERE RNUM BETWEEN ? AND ?
   </entry>



   <entry key="selectListCount">
      SELECT COUNT(*) COUNT
      FROM PLACE_LIKE
      JOIN PLACE USING(PLACE_NO)
      WHERE USER_NO = ? AND PLACE_STATUS = 'Y'
   </entry>
   
   
   <entry key="placeLikeSelectList">
    SELECT *    
	FROM(SELECT ROWNUM RNUM, A.* 
	    FROM(SELECT PLACE_NO, PLACE_TITLE, PLACE_CONTENT_POINT, PLACE_CONTENT_DETAIL, PLACE_COUNT, PLACE_IMAGE_PATH, PLACE_IMAGE_CHANGE
	        FROM PLACE_LIKE
	        JOIN PLACE USING (PLACE_NO)
	        JOIN PLACE_IMAGE USING (PLACE_NO)
	         WHERE USER_NO = ? AND PLACE_STATUS = 'Y'
	         AND PLACE_IMAGE_LEVEL = 1
	          ORDER BY LIKE_NO DESC) A)
	 WHERE RNUM BETWEEN ? AND ?
   </entry>
   
   <entry key="placeLikeDeleteController">
        DELETE FROM PLACE_LIKE 
        WHERE USER_NO = ? AND PLACE_NO = ?
   </entry>
   
   <entry key="selectPlaceImage">
      SELECT PLACE_IMAGE_NO
           , PLACE_IMAGE_CHANGE
           , PLACE_IMAGE_PATH
       FROM PLACE_IMAGE
       WHERE PLACE_NO = ?
   </entry>
   

   
   <entry key="increaseCount">
      UPDATE PLACE
         SET PLACE_COUNT = PLACE_COUNT + 1
       WHERE PLACE_NO = ?
         AND PLACE_STATUS = 'Y'
   </entry>
   
    <entry key="selectPlace">
       SELECT PLACE_NO
              ,PLACE_TITLE
              ,PLACE_CONTENT_POINT
              ,PLACE_CONTENT_DETAIL
              ,PLACE_THEMA
              ,PLACE_ADDRESS
              ,PLACE_HOMEPAGE
              ,PLACE_CONTACT
              ,PLACE_TIME
              ,PLACE_START
              ,PLACE_END
      FROM PLACE
      WHERE PLACE_NO = ?
          AND PLACE_STATUS = 'Y'

   </entry>
   
   <entry key="selectPlaceImageList">
       SELECT PLACE_NO
              ,PLACE_TITLE
              ,PLACE_CONTENT_POINT
              ,PLACE_CONTENT_DETAIL
              ,PLACE_THEMA
              ,PLACE_ADDRESS
              ,PLACE_HOMEPAGE
              ,PLACE_CONTACT
              ,PLACE_TIME
              ,PLACE_START
              ,PLACE_END
      FROM PLACE
      WHERE PLACE_NO = ?
          AND PLACE_STATUS = 'Y'

   </entry>
   
    <entry key="selectPlaceImage">
      SELECT PLACE_IMAGE_NO
              ,PLACE_IMAGE_CHANGE
              ,PLACE_IMAGE_PATH
      FROM PLACE_IMAGE
      WHERE PLACE_NO = ?
      ORDER BY PLACE_IMAGE_LEVEL
   </entry>
   
   <entry key="selectReviewList">
      SELECT *
      FROM(
         SELECT ROWNUM RNUM, A.REVIEW_NO, A.USER_ID, A.REVIEW_STAR, A.REVIEW_CONTENT,TO_CHAR(REVIEW_CREATE_DATE, 'YYYY-MM-DD') AS REVIEW_CREATE_DATE
               FROM(
                     SELECT REVIEW_NO
                           ,USER_ID
                           ,REVIEW_STAR
                           ,REVIEW_CONTENT
                           ,REVIEW_CREATE_DATE
                     FROM REVIEW
                     JOIN MEMBER USING (USER_NO)
                     WHERE PLACE_NO = ?
                     ORDER BY REVIEW_CREATE_DATE DESC
                  ) A
         )
      WHERE RNUM BETWEEN ? AND ?
   </entry>
   
    <entry key="reviewListCount">
      SELECT COUNT(*) COUNT
      FROM REVIEW
      JOIN PLACE USING(PLACE_NO)
      WHERE PLACE_NO = ?
   </entry>
   
    <entry key="checkLike">
      SELECT LIKE_NO
      FROM PLACE_LIKE
      WHERE PLACE_NO = ?
            AND USER_NO =?
   </entry>
   
   <entry key="placeLikeInsertController">
      INSERT INTO PLACE_LIKE
         (
         LIKE_NO,
         PLACE_NO,
         USER_NO
         )
         VALUES
         (
         SEQ_PLNO.NEXTVAL,
         ?,
         ?
         )
   </entry>
   
   <entry key="mainSelectController">
      SELECT PLACE_NO,
           PLACE_TITLE,
           PLACE_CONTENT_POINT,
           PLACE_THEMA,
           PLACE_ADDRESS,
           PLACE_TIME,
          TO_CHAR(PLACE_START, 'YYYY.MM.DD') as "PLACE_START",
          TO_CHAR(PLACE_END, 'YYYY.MM.DD') as "PLACE_END",
           PLACE_COUNT,
           PLACE_IMAGE_PATH,
           PLACE_IMAGE_CHANGE
      FROM PLACE
      LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
      WHERE PLACE_STATUS = 'Y'
   </entry>
   
   <entry key="mainCountSearch">
    SELECT ROWNUM, A.*
	FROM(SELECT PLACE_NO,
	            PLACE_TITLE,
	                   PLACE_CONTENT_POINT,
	                   PLACE_THEMA,
	                   PLACE_ADDRESS,
	                   PLACE_TIME,
	                  TO_CHAR(PLACE_START, 'YYYY.MM.DD') as "PLACE_START",
	                  TO_CHAR(PLACE_END, 'YYYY.MM.DD') as "PLACE_END",
	                   PLACE_COUNT,
	                   PLACE_IMAGE_PATH,
	                   PLACE_IMAGE_CHANGE
	    FROM PLACE
	    JOIN PLACE_IMAGE USING (PLACE_NO)
	    WHERE PLACE_STATUS = 'Y'
	    AND PLACE_IMAGE_LEVEL = 1
	    ORDER BY PLACE_COUNT DESC) A
	WHERE ROWNUM BETWEEN 1 AND 3

   </entry>

   <entry key="insertManagerPlace">
     INSERT INTO PLACE
           (
           PLACE_NO, 
           PLACE_TITLE,
           PLACE_CONTENT_POINT,
           PLACE_CONTENT_DETAIL,
           PLACE_THEMA,
           PLACE_ADDRESS,
           PLACE_HOMEPAGE,
           PLACE_CONTACT,
           PLACE_TIME,
           PLACE_START,
           PLACE_END
           )
           VALUES(
           SEQ_PNO.NEXTVAL,
           ?,
           ?,
           ?,
           ?,
           ?,
           ?,
           ?,
           ?,
           ?,
           ?
           )
   </entry>
   
      <entry key="selectManagerPlace">
         SELECT PLACE_NO
         FROM PLACE
         WHERE PLACE_TITLE = ?
   </entry>
   
   <entry key = "insertManagerPlaceImage">
         INSERT INTO PLACE_IMAGE
         (
           PLACE_IMAGE_NO,
         PLACE_NO,
         PLACE_IMAGE_ORIGIN,
         PLACE_IMAGE_CHANGE,
         PLACE_IMAGE_PATH,
         PLACE_IMAGE_LEVEL
            )
     VALUES
        (
           SEQ_PINO.NEXTVAL,
           SEQ_PNO.CURRVAL,
           ?,
           ?,
           ?,
           ?
         )
   </entry>
   
   <entry key="insertReview">
         INSERT INTO REVIEW(
                     REVIEW_NO,
                  PLACE_NO,
                  USER_NO,
                  REVIEW_STAR,
                  REVIEW_CONTENT
                     )
                  VALUES (
                     SEQ_RNO.NEXTVAL,
                     ?,
                     ?,
                     ?,
                     ?
                     )
   </entry>
   
   <entry key="deleteReview">
         DELETE FROM REVIEW
        WHERE REVIEW_NO = ? AND USER_NO = ?
    </entry>

   <entry key="selectPlaceBoardList">
      SELECT *
	  FROM(SELECT ROWNUM RNUM, A.*
	    FROM(SELECT PLACE_NO,
	            PLACE_TITLE,
	            PLACE_CONTENT_POINT,
	            PLACE_THEMA,
	            PLACE_ADDRESS,
	            PLACE_COUNT,
	            PLACE_IMAGE_PATH,
	            PLACE_IMAGE_CHANGE
	         FROM PLACE
	         LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
	         WHERE PLACE_STATUS = 'Y'
	         	AND PLACE_IMAGE_LEVEL = 1
	         	AND PLACE_THEMA = ?
	         ORDER BY PLACE_NO DESC) A )
		WHERE RNUM BETWEEN ? AND ?
   </entry>
   
   <entry key = "selectEventListCount">
      SELECT COUNT(*) count
         FROM PLACE
         LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
         WHERE PLACE_STATUS = 'Y'
            AND PLACE_THEMA = ?
                AND PLACE_START = ?
         ORDER BY PLACE_NO DESC
   </entry>
   
   <entry key = "mainEventListSearch">
            SELECT *
            FROM(SELECT ROWNUM RNUM, A.*
                FROM(SELECT PLACE_NO,
                            PLACE_TITLE,
                            PLACE_CONTENT_POINT,
                            PLACE_THEMA,
                            PLACE_ADDRESS,
                            TO_CHAR(PLACE_START, 'YYYY.MM.DD') as "PLACE_START",
                            TO_CHAR(PLACE_END, 'YYYY.MM.DD') as "PLACE_END",
                            PLACE_IMAGE_PATH,
                            PLACE_IMAGE_CHANGE
                        FROM PLACE
                        LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
                        WHERE PLACE_STATUS = 'Y'
                            AND PLACE_THEMA = ?
                            AND PLACE_START = ?
                        ORDER BY PLACE_NO DESC) A
            )
             WHERE RNUM BETWEEN ? AND ?
   </entry>
           
   <entry key = "placeThemaListCount">
	   	SELECT COUNT(*) count
	   	FROM PLACE
	   	WHERE PLACE_THEMA = ?
   </entry>
   
   <entry key = "selectFaPlaceBoardList">
   	  SELECT *
	  FROM(SELECT ROWNUM RNUM, A.*
	    FROM(SELECT PLACE_NO,
	            PLACE_TITLE,
	            PLACE_CONTENT_POINT,
	            PLACE_THEMA,
	            PLACE_ADDRESS,
	            PLACE_COUNT,
	            PLACE_IMAGE_PATH,
	            PLACE_IMAGE_CHANGE
	         FROM PLACE
	         LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
	         WHERE PLACE_STATUS = 'Y'
	         	AND PLACE_IMAGE_LEVEL = 1
	         	AND PLACE_THEMA = ?
	         ORDER BY PLACE_COUNT DESC) A )
		WHERE RNUM BETWEEN ? AND ?
   </entry>     
   
   <entry key="selectSearchPlaceCountList">
	      SELECT *        
	      FROM(SELECT ROWNUM RNUM, A.* 
	          FROM (SELECT PLACE_NO
	                   , PLACE_TITLE
	                   , PLACE_ADDRESS
	                   , PLACE_IMAGE_PATH
	                   , PLACE_IMAGE_CHANGE
	                   , PLACE_COUNT
	               FROM PLACE P
	               LEFT JOIN PLACE_IMAGE USING (PLACE_NO)
	               WHERE PLACE_STATUS = 'Y'
	               AND PLACE_IMAGE_LEVEL = 1
	               AND PLACE_TITLE LIKE ?
	               ORDER BY PLACE_COUNT DESC
	              ) A
	          )
	      WHERE RNUM BETWEEN ? AND ?
	</entry>   
</properties>